
---

<div style="text-align: right">
  <button id="togglekeyword">Schlagwort aus</button>
  <button id="toggletext">Sprachtext aus</button>
  <button id="togglecomment">Kommentar aus</button>
</div>
<br>
<h1>Interviewleitfaden für ein Fall von {{ page.title }}</h1>
<h4>Gesprächsbeginn</h4>
  <ul>{% for layoutitem in layout.beginn %}<p>
       <mark>{{ layoutitem.keyword }}</mark>
       <strong>{{ layoutitem.question }}</strong>
       <em><br>{{ layoutitem.comment }}</em>
  </p>{% endfor %}</ul>

  {% if page.abklaerung %}
  <h4>Abklärung</h4>

  {% if page.ausbruch %}
  <ul>{% for entry in layout.ausbruch %}<p>
    <mark>{{ entry.keyword }}</mark>
    <strong>{{ entry.question }}</strong>
    <em><br>{{ entry.comment }}</em>
  </p>{% endfor %}</ul>
  {% endif %}
  <ul>{% for entry in page.abklaerung %}<p>
    <mark>{{ entry.keyword }}</mark>
    <strong>{{ entry.question }}</strong>
    <em><br>{{ entry.comment }}</em>
  </p>{% endfor %}</ul>
  {% endif %}

{% if page.empfehlungen %}
<h4>Empfehlung</h4>
<ul>{% for entry in page.empfehlungen %}<p>
       <mark>{{ entry.keyword }}</mark>
       <strong>{{ entry.question }}</strong>
       <em><br>{{ entry.comment }}</em>
</p>{% endfor %}</ul>
{% endif %}


<h4>Gesprächsende</h4>
  <ul>{% for layoutitem in layout.ende %}<p>
       <mark>{{ layoutitem.keyword }}</mark>
       <strong>{{ layoutitem.question }}</strong>
       <em><br>{{ layoutitem.comment }}</em>
  </p>{% endfor %}</ul>

<div style="text-align: right">
       Letztes Update: {{ page.lastupdated }}<br>
       Autoren: {{ page.author }}<br>
       Quellen:
       {% for items in page.sources %}
        {{ items.source }}
       {% endfor %}
     </div>


 <script src="https://utteranc.es/client.js"
         repo="jakobschumacher/infektionsschutzkompendium"
         issue-term="pathname"
         theme="github-light"
         crossorigin="anonymous"
         async>
 </script>
