---
---

@import "plain";


li { 
	list-style-type: none;
	}
  
  
.js-menu-target:hover .dropdown-arrow {
    border-top-color: /*[[base-color]]*/ #4183C4 !important;
  }  
  /* GitHub Bug: Make <details> arrow work in Firefox */
.markdown-body details summary {
    display: list-item !important;
  }