<!DOCTYPE html>
<html lang="DE">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="{{ "/index.html" | relative_url }}">
				<div class="circular--landscape">
					{% if page.basisdaten.bild %}
						<img class="cicular--square", src="{{page.basisdaten.bild | relative_url }}",  alt="{{ site.plainwhite.name }}" />
					{% else %}		
						<img class="cicular--square", src="{{ "/assets/portfolio.png" | relative_url }}",  alt="{{ site.plainwhite.name }}" />
				{% endif %}		
				</div>
			</a>
			<h2>{{ site.title }}</h2>
			<p class="tagline">{{ site.subtitle }}</p>
			<ul class="social">
				<li><a href="https://github.com/{{ site.plainwhite.social_links.github }}"><i class="fab fa-github fa-lg"></i></a></li>
				<li><a href="mailto:jakob.schumacher@web.de"><i class="far fa-envelope fa-lg"></i></a></li>
				<li><a href="{{ site.impressum }}"><i class="fas fa-info-circle fa-lg"></i></a></li>
			</ul>

		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
