---
layout: blank
---

<div style="text-align: right">
             <button onclick="hidecomments()">Hide comments</button>
             <button onclick="showcomments()">Show comments</button>
</div>
<br>
<h1>Leitfaden für ein Interview mit einem Fall von {{ page.title }}</h1>

{% for topic in page.interview %}
<h3> {{ topic.title }} </h3>
  {% for entry in topic.subfolderitems %}
           <b>{{ entry.keyword }}: </b>
           {{ entry.question }}<br>
           <ul><i>{{ entry.comment }}</i></ul>
         {% endfor %}
{% endfor %}
