---
layout: default
---

    <ul>  
      {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}


<div class="post-meta">
  <ul class="post-categories">
    {%- for tag in page.categories -%}
    <li>{{ tag }}</li>
    {%- endfor -%}
  </ul>
  <div class="post-date"><i class="icon-calendar"></i>Letztes Update am: {{ page.lastupdated | date: date_format }}</div>
</div>




  
  
  <h1 id="posts-label">Allgemeine Informationen</h1>



  <details markdown="block">
    <summary>
      <h1 id="posts-label">Mögliche Maßnahmen des Gesundheitsamtes</h1>
    </summary>
    {% for aktion in page.aktionsliste %}
    <ul>
      <li><form style="display:inline;"><input type="checkbox"> {{ aktion.aktion  }}</form></li>
    </ul>
    {% endfor %}
  </details>



<h1 id="posts-label">Stichpunkte für Interview</h1>
  <ul>
  {% if page.interview %}
  <li><a href="{{ page.interview | relative_url }}">Interviewleitfaden</a> </li>
  {% endif %}
  {% if page.aktion %}
  <li><a href="{{ page.aktion  | relative_url }}">Maßnahmen</a></li>
  {% endif %}
  {% if page.fortbildung %}
  <li><a href="{{ page.fortbildung | relative_url }}">Minifortbildung</a></li>
  {% endif %}
  {% if page.merkblatt contains 'merkblatt/'%}
  <li><a href="{{ page.merkblatt | relative_url }}">Merkblatt</a></li>
  {% endif %}
  </ul>


<h1 id="posts-label">Links zu Informationen im Netz</h1>

<ul>
{% for menu_link in page.sources %}
  {% for item in menu_link %}
    <li><a class="menu-item" href="{{ item[1] }}">{{ item[0] }}</a></li>
  {% endfor %}
{% endfor %}

</ul>
