---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  
  <div class="post-meta">
     <ul class="post-categories">
       {% if page.fortbildung %}
       <li> <span class="blockstyle"><a href="{{ page.fortbildung | relative_url }}">Präsentation</a></span> </li>
       {% endif %}
     </ul>
     <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
   </div>

  
  

  
  
  <div class="post">
  {{ page.basisdaten.kurzbeschreibung}} 
  
{% comment %}  
  <ul>
  {% assign inhalte = page.inhalte | where_exp: "item", "item.kategorie == 'erregerdaten'" %}
    {% for item in inhalte %}
      <li>{{ item.text | markdownify }} </li>
    {% endfor %}  
  </ul>
  {% endcomment %}  
  <details markdown="block">
    <summary><h1 id="posts-label">Auflistung wichtiger Daten</h1></summary>
  
    {% assign inhalte = page.inhalte  %}
    {% for item in inhalte %}
      <li title="Quelle: {{ item.quellename }}"> {{ item.text }} </li>
    {% endfor %}  
  

  </details>
  
  <details markdown="block">
    <summary>
      <h1 id="posts-label">Mögliche Maßnahmen des Gesundheitsamtes</h1>
    </summary>
    <ul>
      {% for item in page.aktionsbausteine %}  
      <li><form style="display:inline;"><input type="checkbox"> {{ item.aktion }}
      </form></li>  
        {% endfor %}
    </ul>
  </details>


  <details markdown="block">
    <summary>
      <h1 id="posts-label">Stichpunkte für Interview</h1>
    </summary>
    <ul>
      {% for item in page.interview.abklaerung %}  
      <li><form style="display:inline;"><input type="checkbox"> {{ item.keyword }}
      </form></li>  
        {% endfor %}

    </ul>
  </details>

  <details markdown="block">
    <summary>
      <h1 id="posts-label">Links zu Informationen im Netz</h1>
    </summary>
    <ul>
      {% for item in page.quellen %}
      <li><a class="menu-item" href="{{ item.webseite }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
</details>
  <hr>

  <div style="text-align: right">
    Letztes Update: {{ page.lastupdated }}<br>
    Autoren: {{ page.author }}<br>
  </div>
  
  
