---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
  </a>
  
  <div class="post">
  {{ page.basisdaten.kurzbeschreibung}} 
  <details markdown="block">
    <summary><h1 id="posts-label">Auflistung wichtiger Daten</h1></summary>
  {{page.basisdaten.erregertyp}}
  {{ page.basisdaten.reservoir }}
  {{ page.basisdaten.vorkommen_welt }}
  {{ page.basisdaten.vorkommen_deu }}
  Wichtige Übertragungswege sind
  {% for item in page.basisdaten.uebertragungswege %} {{ item }} 
  {% endfor %}  

  Die Inkubationszeit beträgt {{ page.basisdaten.inkubationszeit_min }} bis {{ page.basisdaten.inkubationszeit_max }}
  {{ page.basisdaten.ansteckungszeit_normal }} {{ page.basisdaten.ansteckungszeit_lang }}

  Krankheitszeichen sind {% for item in page.basisdaten.symptomatik %} 
  {{ item }}{% endfor %}
  {{ page.basisdaten.asymptomatik }}
  {{ page.basisdaten.krankheitsdauer }}

  {% if page.fortbildung %} 
  <span class="blockstyle"><a href="{% link _fortbildung/norovirus.html %}">Diese Informationen als Präsentation</a></span>
  {% endif %}

  </details>
  
  <details markdown="block">
    <summary>
      <h1 id="posts-label">Mögliche Maßnahmen des Gesundheitsamtes</h1>
    </summary>
    <ul>
      {% for item in page.aktionsbausteine %}  
      <li><form style="display:inline;"><input type="checkbox"> {{ item.aktion }}
      </form></li>  
        {% endfor %}
    </ul>
  </details>


  <details markdown="block">
    <summary>
      <h1 id="posts-label">Stichpunkte für Interview</h1>
    </summary>
    <ul>
      {% for item in page.interview.abklaerung %}  
      <li><form style="display:inline;"><input type="checkbox"> {{ item.keyword }}
      </form></li>  
        {% endfor %}

    </ul>
  </details>

  <details markdown="block">
    <summary>
      <h1 id="posts-label">Links zu Informationen im Netz</h1>
    </summary>
    <ul>
      {% for item in page.quellen %}
      <li><a class="menu-item" href="{{ item.webseite }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
</details>
  <hr>

  <div style="text-align: right">
    Letztes Update: {{ page.lastupdated }}<br>
    Autoren: {{ page.author }}<br>
    Quellen:
    {% for items in page.sources %}
    {{ items.source }}
    {% endfor %}
  </div>
  
  
