{{ define "main" }}
{{ $title := .Title }}
{{ $katalogPage := .Site.GetPage (printf "/katalog/%s" .File.ContentBaseName) }}
{{ with $katalogPage }}
<article>
  <h1>{{ .Title }}</h1>

  <h2>Maßnahmen des Gesundheitsamtes</h2>
  <ul>
  {{ with .Params.aktionsbausteine }}
    {{ range . }}
      {{ if .varname }}
        {{ with index $.Site.Data.variablen .varname }}
          <li>{{ .text }}</li>
        {{ end }}
      {{ else if .aktion }}
        <li>{{ .aktion }}</li>
      {{ else if .keyword }}
        <li>{{ .keyword }}</li>
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>
</article>
{{ else }}
<p>Keine Daten für {{ $title }} gefunden. (File: {{ .File.ContentBaseName }})</p>
{{ end }}
{{ end }}
